# Ignorar archivos sin extensión
*
!*/
!*.*

# IDE / sistema
.DS_Store
.vscode/
.idea/
~$*
~lock.*

# C / C++
*.exe
*.o
*.out
*.a
*.so
*.dll
*.dylib
*.bin
*.dSYM/

# Java
*.class
*.jar
*.war
*.ear

# Python
*.pyc
*.pyo
*.pyd
