.DS_Store
.vscode
.idea/
~$*
~lock.*
*.exe
*.o
*.out
*.a
*.so
*.dll
*.dylib
*.bin
*.class
*.jar
*.war
*.ear
*.pyc
*.pyo
*.pyd
*.[^/]*[^.]
*.

# Archivos con extensión .dSYM
*.dSYM/

# Archivos con extensión .in y .out
*.in
*.out
